.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
  background-color: var(--color-primary-light-2);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  gap: 6.4rem;
  grid-template-columns: 1.5fr 1.5fr repeat(3, 1fr);
}

.logoCol {
  display: flex;
  flex-direction: column;
}

.footerLogo {
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-primary);
  display: block;
  margin-bottom: 3.2rem;
}

.socialLinks {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.socialIcon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  color: #767676;
  line-height: 1.6;
  margin-top: auto;
}

.footerHeading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footerNav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footerLink:link,
.footerLink:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: #767676;
  transition: all 300ms;
}

.footerLink:hover,
.footerLink:active {
  color: #555;
}
