.container {
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary-light-2);
}

.wrapper {
  max-width: 50rem;
  background-color: var(--color-primary);
  padding: 3.2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2.4rem;
  color: var(--color-secondary);
  margin-bottom: 1.2rem;
}

.input {
  border: none;
  padding: 1.6rem 0.6rem;
  font-size: 1.6rem;
  padding-left: 1.6rem;
  background-color: var(--color-primary-light-1);
  border-radius: 10px;
  margin-top: 1.2rem;
}

.input:focus {
  outline: none;
}

.btn {
  width: 100%;
  border: none;
  padding: 1.4rem;
  background-color: var(--color-secondary);
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 5px;
  margin-bottom: 12px;
  margin-top: 1.2rem;
}

.error {
  font-size: 1.4rem;
  margin-top: 1.2rem;
  color: var(--color-secondary);
}
